/* custom.css = overide custom tailwind && flowbite */

/* Import Rubuk Font form google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 10px grey; */
    background-color: #fff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #fff; */
    background-color: rgb(33 19 86);
    /* border-radius: 10px; */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(33 19 86);
  }

  @media print{
    .no-print{
        display:none;
        visibility: hidden;
    }
 }
